FormatStyle: "file"
Checks: "-*,performance-*,readability-*,-readability-named-parameter,-readability-magic-numbers,-readability-uppercase-literal-suffix,-readability-convert-member-functions-to-static,-readability-braces-around-statements"
HeaderFilterRegex: "source/.*"
ExtraArgs: [
    "-D_SILENCE_CXX17_RESULT_OF_DEPRECATION_WARNING",
]
WarningsAsErrors: "*"
