FormatStyle: "file"
Checks: "-*,modernize-*,readability-*,performance-*"
HeaderFilterRegex: "source/"
ExtraArgs: [
    "-Wno-unknown-argument",
    "-Wno-pragma-pack",
    "-std=c++17",
    "-stdlib=libc++",
    "-D_SILENCE_CXX17_RESULT_OF_DEPRECATION_WARNING",
]
WarningsAsErrors: "*"
