FormatStyle: "file"
# readability-qualified-auto is often "wrong" because we use raw pointers as iterators
Checks: >-
    -*,
    performance-*,
    readability-*,
    -readability-named-parameter,
    -readability-convert-member-functions-to-static,
    -readability-uppercase-literal-suffix,
    -readability-qualified-auto,
HeaderFilterRegex: "(private/.*|public/potato/.*)"
WarningsAsErrors: "*"
