FormatStyle: "file"
# readability-qualified-auto is often "wrong" because we use raw pointers as iterators
# readability-magic-numbers is just annoying for math-heavy code, though it is valuable elsewhere
# readability-upper-literal-suffix is just stylistically objectionable, e.g. 1.2f vs 1.2F
# readability-convert-member-functions-to-static has side effects (e.g. calling conventions)
# readability-named-parmater TODO consider adding this back
# clang-analyzer-* crashed in Clang 10 on our code :/
# cppcoreguidelines-macro-usage flags almost every macro, many of which _must_ be macros
# cppcoreguidelines-avoid-c-arrays is a little idealistic
# cppcoreguidelines-pro-bounds-array-to-pointer-decay likewise, we use char buffers for a reason
# cppcoreguidelines-pro-bounds-pointer-arithmetic doesn't acknowledge pointers as iterators
# cppcoreguidelines-pro-bounds-constant-array-index is just crazy, we use [] on purpose
# cppcoreguidelines-pro-type-reinterpret-cast is idealistic, we have to use it often
# cppcoreguidelines-avoid-magic-numbers is the same as readability-magic-numbers
# cppcoreguidelines-special-member-functions TODO we actually want this, but we need to configure it
# cppcoreguidelines-owning-memory TODO we actually want this, but need to plumb the GSL hints
# cppcoreguidelines-pro-type-const-cast TODO good idea generally, need to clean up code
# cppcoreguidelines-pro-type-vararg needed until we have to_chars<float> everywhere
# cppcoreguidelines-pro-type-union-access GLM runs afoul of this
Checks: >-
    -*,
    performance-*,
    readability-*,
    bugprone-*,
    portability-*,
    cppcoreguidelines-*,
    -readability-named-parameter,
    -readability-convert-member-functions-to-static,
    -readability-uppercase-literal-suffix,
    -readability-qualified-auto,
    -readability-magic-numbers,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-union-access,
HeaderFilterRegex: "(private/.*|public/potato/.*)"
WarningsAsErrors: "*"
