FormatStyle: "file"
# readability-qualified-auto is often "wrong" because we use raw pointers as iterators
# readability-magic-numbers is just annoying for math-heavy code, though it is valuable elsewhere
# readability-upper-literal-suffix is just stylistically objectionable, e.g. 1.2f vs 1.2F
# readability-convert-member-functions-to-static has side effects (e.g. calling conventions)
# readability-named-parmater TODO consider adding this back
# clang-analyzer-* crashed in Clang 10 on our code :/
Checks: >-
    -*,
    performance-*,
    readability-*,
    bugprone-*,
    portability-*,
    cppcoreguidelines-*,
    -readability-named-parameter,
    -readability-convert-member-functions-to-static,
    -readability-uppercase-literal-suffix,
    -readability-qualified-auto,
    -readability-magic-numbers,
HeaderFilterRegex: "(private/.*|public/potato/.*)"
WarningsAsErrors: "*"
